<?xml version="1.0"?>
<launch>
  <arg name="hardware_connected"	default="true" />
  <arg name="dance_config_path"	default="$(find mini_pupper_examples)/scripts/dance_demo/dance_demo1.py" />

  <node pkg="mini_pupper_examples" type="dance.py" respawn="true" name="lets_dance" output="screen">
    <param name="~dance_config_path" value="$(arg dance_config_path)"/>
  </node>
  <node pkg="mini_pupper_examples" type="pose_controller.py" name="pose_controller" output="screen"/>

  <group if="$(arg hardware_connected)">
    <include file="$(find mini_pupper_bringup)/launch/bringup.launch" />
  </group>
</launch>

