[submodule "mini_pupper_driver/mini_pupper_driver/StanfordQuadruped"]
	path = mini_pupper_driver/mini_pupper_driver/StanfordQuadruped
	url = https://github.com/mangdangroboticsclub/StanfordQuadruped.git
