<?xml version="1.0"?>
<launch>
  <arg name="hardware_connected"	default="true" />
  <arg name="dance_config_path"	default="/home/ubuntu/environment/reMARS-MiniPupper/routines" />

  <node pkg="mini_pupper_dance" type="dance.py" respawn="true" name="lets_dance" output="screen">
    <param name="~dance_config_path" value="$(arg dance_config_path)"/>
  </node>
  <node pkg="mini_pupper_dance" type="pose_controller.py" name="pose_controller" output="screen"/>
  <!--node name="sound_play_node" pkg="sound_play" type="soundplay_node.py" output="screen"/-->

  <group if="$(arg hardware_connected)">
    <include file="$(find mini_pupper)/launch/bringup.launch" />
  </group>
</launch>

