<?xml version="1.0"?>
<launch>
	
  	<!-- ds4drv -->
  	<node name="ds4drv_script_call" pkg="ps4_interface" type="run_ds4drv.sh" output="screen" />

  	<!-- JOY ROS NODE -->
	<node respawn="true" pkg="joy" type="joy_node" name="ps4_joy" >
    	<param name="dev" type="string" value="/dev/input/js0" />
    	<param name="deadzone" value="0.12" />
 	</node>


	<!-- PS4 ROS NODE -->
	<node pkg="ps4_interface" type="ps4_interface.py" name="ps4_interface" output="screen"/>
        <node pkg="ps4_interface" type="pose_controller.py" name="pose_controller" output="screen"/>

</launch>


