{
  "presets": ["react-app"],
  "plugins": [
    [
      "module:@import-meta-env/babel",
      {
        "example": ".env.example"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
